body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #e7dede;
}

header {
    display: flex;
    justify-content: center;
}

header h1 a {
    background-color: red;
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
}

header h1 a:hover {
    background-color: black;
    text-transform: uppercase;
    box-sizing: border-box;
    border-radius: 25px;
}

.list {
    background: #666161;
    padding: 10px;
    margin-top: 20px;
    margin-left: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    list-style-type: decimal;
}

.list ul {
    list-style: none;
}

.list a:visited {
    color: blue;
}

.list a {
    text-decoration: none;
    color: #e7dede;
}

.list a:hover {
    color: red;
}

.list a: .list:hover {
    color: rgb(238, 9, 9);
    background-blend-mode: difference;
}